# Node
node_modules/
dist/
*.env
.env.local
.env.production

# macOS
.DS_Store

# Xcode
ios/**/*.xcuserstate
ios/**/xcuserdata/
ios/DerivedData/

# Logs
*.log
npm-debug.log*
backend/Notas_de_Cata_Vinos_Simple.xlsx
